beautifulsoup4
cloudscraper
fake-useragent
html5lib
ipykernel
ipython
jedi
Jinja2
joblib
jupyter_client
jupyter_core
matplotlib
numpy
opencv-python
pandas
Pillow
requests
requests-html
requests-toolbelt
scikit-learn
scipy
torch
tqdm
undetected-chromedriver
urllib3
